{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Delete "{{object}}"{% endblock title %}
{% block style %}
<style>

footer{
    position:absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    
}
div .link{
    font-size: 1.2rem;
    display: inline-block;
    padding: 5px;
}

</style>
{% endblock style %}
{% block body %}
<div>
    <a class='link' href=" {% url 'companies:detail' object.id %} ">Go Back</a>
    </div>
<h1 class="display-4 mb-2">Delete Current Company</h1>
<hr>

<div class='container mt-4'>

<h1>Are You Sure?</h1>

<form method="post">
{% csrf_token %}
{{form|crispy}}
<button class='btn btn-danger mt-4' type='submit'>Delete</button>
</form>
<p class="text-danger mt-2">Records onces deleted can not be undone.</p>
</div>

{% endblock body %}